#menu-sidomeny{
	margin: 0;
	padding: 0;
}
#menu-sidomeny  li{
	border-bottom: solid 1px #ccc;
	list-style: none;
	padding: 10px 0;
}
#menu-sidomeny  li a{
	color: crimson;
}
#sidebar > ul > li > div > ul {
	margin: 0;
	padding: 0;
}

#sidebar > ul > li > div > ul > li {
	list-style: none;
}
#sidebar > ul > li > div > ul > li a{
	color: crimson;
}
#footer .social > div > ul > li {
	list-style: none;
	margin-bottom: 5px;
}
#footer .social > div > ul > .facebook:before {
	content: "\f09a"; 
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; 
	width: 1.3em; 
  }
#footer .social > div > ul > .twitter:before {
	content: "\f099"; 
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; 
	width: 1.3em; 
  }
#footer .social > div > ul > .instagram:before {
	content: "\f16d"; 
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; 
	width: 1.3em; 
  }
#footer .social > div > ul > .linkedin:before {
	content: "\f08c"; 
	font-family: FontAwesome;
	display: inline-block;
	margin-left: -1.3em; 
	width: 1.3em;
  }
  .meta li a{
	  color: crimson;
  }
 #titlePost{
	  color: crimson;
  }